<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>B508</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/templatemo-style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dropzone.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">

	<script src="{{ url_for('static', filename='javascripts/dropzone.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.spectrogram.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.regions.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.cursor.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.timeline.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/RecordRTC.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/recorder.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/serversource.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/app.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/index.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/trivia.js')}}"></script>
</head>

<body>
    <div id="menu">
        <ul>
            <li><a href="voiceprint.html">声纹识别</a> </li>
            <li><a href="opencv.html">去雾实验</a> </li>
        </ul>
    </div>
	<div class="container">
		<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="col-md-6 col-12">
				<img src="static/img/logo.png" alt="Logo" class="tm-site-logo" />
				<div class="tm-site-text-box">
					<!--
						<h1 class="tm-site-title">武汉光电国家研究中心</h1>
					-->
					<h1 class="tm-site-description">大数据与智能认知实验室</h1>
				</div>
			</div>

		</div>

		<main>
			<header class="row tm-welcome-section">
				<select id="server-select">
					<option value="edge" selected="selected">边缘服务器</option>
					<option value="cloud">云服务器</option>
				</select>
				<h2 class="col-12 text-center tm-section-title">Welcome to Big Data and Intelligent Cognition Lab</h2>
				<p class="col-12 text-left">Total four demo systems are demonstrated in this page, including automatic speech recognition, sound event detection, speech emotion recognition and speaker recognition system. You can use the provided audio samples, upload or record your own samples. The systems have been deployed both on cloud and edge devices. Feel free to experience^_^</p>
			</header>

			<div class="tm-paging-links">
				<nav>
					<ul>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link active">AutomaticSpeechRecognition</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">EmotionRecognition</a></li>
						<li class="tm-paging-item"><a href="#" class="tm-paging-link">SoundEventDetection</a></li>
						<li class="tm-paging-item"><a href="/voiceprint" class="tm-paging-link">SpeakerRecognition</a></li>
					</ul>
				</nav>
			</div>
			<!-- Gallery -->
			<div class="row tm-gallery">
				<!-- 语音识别 beginning -->
				<div id="tm-gallery-page-automaticspeechrecognition" class="tm-gallery-page">
					<div class="tm-paging-links" style="position: relative;margin:auto;">
						<ul style="font-size: x-small">
							<li class="tm-paging-item" style="max-width: 150px">
								<select id="mp3_name1" class="form-control">
									<option selected="selected">-Please select audio-</option>
									{% for mp3 in all_mp3_files1 %}
									<option value="{{mp3}}">{{mp3}}</option>
									{% endfor %}
								</select>
							</li>
							<li class="tm-paging-item" data-action="play"><a class="tm-paging-button">Play/Pause</a>
							</li>
							<li class="tm-paging-item" data-action="stop"><a class="tm-paging-button">Stop</a>
							</li>
							<li class="tm-paging-item" data-action="start_reco"><a class="tm-paging-button">StartRecording</a>
							</li>
							<li class="tm-paging-item" data-action="ai_reco"><a class="tm-paging-button">StopRecording</a>
							</li>
							<li class="tm-paging-item">
								<form method="post" enctype=multipart/form-data id='form1'>
									<input class="tm-paging-item" style="margin: 7.5px; max-width: 180px;" id="image1"
										name="file" required type="file">
								</form>
							</li>
						</ul>
					</div>
					<br><br><br>
					<div id="demo" class="tm-gallery-item" style="margin: auto;">
						<div id="waveform1" class="tm-gallery-item" style="border: 1px solid #000;">
							<br />
							<div class="progress progress-striped active" id="progress-bar">
								<div class="progress-bar progress-bar-info"></div>
							</div>
						</div>
						<div id="wave-timeline1" class="wave-timeline" style="background-color: azure"></div>
						<p style="text-align: center;font-size: x-large; font-style: italic">waveform</p>
						<!-- Here be waveform -->
						<div id="wave-spectrogram1" class="tm-gallery-item" style="border: 1px solid #000;"></div>
						<p style="text-align: center;font-size: x-large; font-style: italic">spectrogram</p>
					</div>
					<br><br><br>
					<div id="presult1" class="tm-gallery-item presult" style="border: 1px solid #000;margin: auto;">
						<ul style="font-size: xx-large;margin: 20px 80px;">
							<li>
								<p>Current Time：</p>
								<p id="nowtime" class="blink"></p>
							</li>
							<li>
								<p>Total Duration：</p>
								<p id="totaltime" style="color: #dd4814;"></p>
							</li>
							<li>
								<p>Decoded Result:</p>
								<p id="decoderesult" style="color: #dd4814;"></p>
							</li>
						</ul>
					</div>
				</div>
				<!-- 语音识别 end -->

				<!-- 情感计算 beginning -->
				<div id="tm-gallery-page-emotionrecognition" class="tm-gallery-page hidden">
					<div class="tm-paging-links" style="position: relative;margin:auto;">
						<ul style="font-size: x-small">
							<li class="tm-paging-item" style="max-width: 150px">
								<select id="mp3_name2" class="form-control">
									<option selected="selected">-Please select audio-</option>
									{% for mp3 in all_mp3_files2 %}
									<option value="{{mp3}}">{{mp3}}</option>
									{% endfor %}
								</select>
							</li>
							<li class="tm-paging-item" data-action="play"><a class="tm-paging-button">Play/Pause</a>
							</li>
							<li class="tm-paging-item" data-action="stop"><a class="tm-paging-button">Stop</a>
							</li>
							<li class="tm-paging-item" data-action="start_reco"><a class="tm-paging-button">StartRecording</a>
							</li>
							<li class="tm-paging-item" data-action="ai_reco"><a class="tm-paging-button">StopRecording</a>
							</li>
							<li class="tm-paging-item">
								<form method="post" enctype=multipart/form-data id='form2'>
									<input class="tm-paging-item" style="margin: 7.5px; max-width: 180px;" id="image2"
										name="file" required type="file">
								</form>
							</li>
						</ul>
					</div>
					<br><br><br>
					<div id="demo" class="tm-gallery-item" style="margin: auto;">
						<div id="waveform2" class="tm-gallery-item" style="border: 1px solid #000;">
							<br />
							<div class="progress progress-striped active" id="progress-bar">
								<div class="progress-bar progress-bar-info"></div>
							</div>
						</div>
						<div id="wave-timeline2" class="wave-timeline" style="background-color: azure"></div>
						<p style="text-align: center;font-size: x-large; font-style: italic">waveform</p>
						<!-- Here be waveform -->
						<div id="wave-spectrogram2" class="tm-gallery-item" style="border: 1px solid #000;"></div>
						<p style="text-align: center;font-size: x-large; font-style: italic">spectrogram</p>
					</div>
					<br><br><br>
					<div id="presult2" class="tm-gallery-item presult" style="border: 1px solid #000;margin: auto;">
						<ul style="font-size: xx-large;margin: 20px 80px;">
							<li>
								<p>Current Time：</p>
								<p id="nowtime" class="blink"></p>
							</li>
							<li>
								<p>Total Duration：</p>
								<p id="totaltime" style="color: #dd4814;"></p>
							</li>
							<li>
								<p>Emotion Analysis:</p>
								<p id="decoderesult" style="color: #dd4814;"></p>
							</li>
						</ul>
					</div>
				</div>
				<!-- 情感计算 end -->

				<!-- 声音异常事件检测 beginning -->
				<div id="tm-gallery-page-soundeventdetection" class="tm-gallery-page hidden">
					<div class="tm-paging-links" style="position: relative;margin:auto;">
						<ul style="font-size: x-small">
							<li class="tm-paging-item" style="max-width: 150px">
								<select id="mp3_name3" class="form-control">
									<option selected="selected">-Please select audio-</option>
									{% for mp3 in all_mp3_files3 %}
									<option value="{{mp3}}">{{mp3}}</option>
									{% endfor %}
								</select>
							</li>
							<li id="startrecord" class="tm-paging-item" data-action="play"><a
									class="tm-paging-button">Play/Pause</a>
							</li>
							<li id="stoprecord" class="tm-paging-item" data-action="stop"><a
									class="tm-paging-button">Stop</a>
							</li>
							<li class="tm-paging-item" data-action="start_reco"><a class="tm-paging-button">StartRecording</a>
							</li>
							<li class="tm-paging-item" data-action="ai_reco"><a class="tm-paging-button">StopRecording</a>
							</li>
							<li class="tm-paging-item">
								<form method="post" enctype=multipart/form-data id='form3'>
									<input class="tm-paging-item" style="margin: 7.5px; max-width: 180px;" id="image3"
										name="file" required type="file">
								</form>
							</li>
						</ul>
					</div>
					<br><br><br>
					<div id="demo" class="tm-gallery-item" style="margin: auto;">
						<div id="waveform3" class="tm-gallery-item" style="border: 1px solid #000;">
							<br />
							<div class="progress progress-striped active" id="progress-bar">
								<div class="progress-bar progress-bar-info"></div>
							</div>
						</div>
						<div id="wave-timeline3" class="wave-timeline" style="background-color: azure"></div>
						<p style="text-align: center;font-size: x-large; font-style: italic">waveform</p>
						<!-- Here be waveform -->
						<div id="wave-spectrogram3" class="tm-gallery-item" style="border: 1px solid #000;"></div>
						<p style="text-align: center;font-size: x-large; font-style: italic">spectrogram</p>
					</div>
					<br><br><br>
					<div id="presult3" class="tm-gallery-item presult" style="border: 1px solid #000;margin: auto;">
						<ul style="font-size: xx-large;margin: 20px 80px;">
							<li>
								<p>Current Time：</p>
								<p id="nowtime" class="blink"></p>
							</li>
							<li>
								<p>Total Duration：</p>
								<p id="totaltime" style="color: #dd4814;"></p>
							</li>
							<li>
								<p>Active Events:</p>
								<p id="decoderesult" class="blink"></p>
							</li>
						</ul>
					</div>
				</div>

				<!-- 声音异常事件检测 end -->

			</div>
		</main>

		<footer class="tm-footer text-center">
			<p>Copyright &copy; 2019-2020.WLNO-B508 All rights reserved.</p>
		</footer>
	</div>

</body>

</html>