<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>B508</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="css/templatemo-style.css" rel="stylesheet" />
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dropzone.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">
    <script src="{{ url_for('static', filename='javascripts/dropzone.min.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/wavesurfer.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/wavesurfer.spectrogram.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/wavesurfer.regions.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/wavesurfer.cursor.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/wavesurfer.timeline.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/jquery.min.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/bootstrap.min.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/app.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/index.js')}}"></script>
    <script src="{{ url_for('static', filename='javascripts/trivia.js')}}"></script>
</head>

<body>
    <p>
        B508##############
    </p>

    <form action="/upload" method="post" class="dropzone"></form>
    </br></br>
    <hr>
    <div>
        {% for  image in all_image_files %}
        <div class="responsive">
            <div class="img">
                <a target="_blank" href="static/uploads/{{image}}">
                    <img src="static/uploads/{{image}}" alt="{{image}}">
                </a>
                <div class="desc">{{image}}</div>
            </div>
        </div>
        {% endfor %}
    </div>

    <select id="mp3_name">
        <option selected="selected">--请选择音频--</option>
        {% for mp3 in all_mp3_files %}
        <option value="{{mp3}}">{{mp3}}</option>
        {% endfor %}
    </select>


    {% for mp3 in all_mp3_files %}
    <div class="responsive">
        <i class="fa fa-music" aria-hidden="true"> {{ mp3 }}</i>
        <i class="fa fa-play-circle" aria-hidden="true" onclick="wavesurfer0.playPause()"></i>
        <i class="fa fa-stop-circle" aria-hidden="true" onclick="wavesurfer0.stop()"></i>
        <div id="waveform{{loop.index0}}"></div>

        <div class="header">
            <noindex>
                <ul class="nav nav-pills pull-right">
                    <li><a href="?fill">Fill</a></li>
                    <li><a href="?scroll">Scroll</a></li>
                </ul>
            </noindex>
        </div>
        <div id="demo">
            <div id="waveform1">
                <div class="progress progress-striped active" id="progress-bar">
                    <div class="progress-bar progress-bar-info"></div>
                </div>

                <!-- Here be waveform -->
            </div>
            <div id="wave-spectrogram1"></div>

            <div class="controls">
                <button class="btn btn-primary" data-action="play">
                    <i class="glyphicon glyphicon-play"></i>
                    Play
                    /
                    <i class="glyphicon glyphicon-pause"></i>
                    Pause
                </button>
            </div>
        </div>

        <div id="waveform" class="waveform"></div>
        <br />
        <div id="wave-timeline" class="wave-timeline"></div>
        <div class="zoom">
            <!-- <input data-action="zoom" type="range" min="1" max="200" value="0" style="width: 100%" />    -->
            <input data-action="zoom" type="range" min="1" max="200" value="0" />
        </div>
        <div id="wave-spectrogram" class="wave-spectrogram"></div>
        <br /> <br />
        <div class="box">
            <button id="playPause">
                <span id="play">
                    <i class=""></i>
                    Play
                </span>

                <span id="pause" style="display: none">
                    <i class=""></i>
                    Pause
                </span>
            </button>

            <button id="btnStop">Stop</button>
        </div>

    </div>
    {% endfor %}

</body>

</html>