<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>B508</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/templatemo-style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dropzone.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">

	<script src="{{ url_for('static', filename='javascripts/dropzone.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.spectrogram.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.regions.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.cursor.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.timeline.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/RecordRTC.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/recorder.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/serversource.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/app.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/index.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/trivia.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/voiceprint.js')}}"></script>
</head>

<body>

	<div class="container">
		<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="col-md-6 col-12">
				<img src="static/img/logo.png" alt="Logo" class="tm-site-logo" />
				<div class="tm-site-text-box">
					<!--
						<h1 class="tm-site-title">武汉光电国家研究中心</h1>
					--> 
					<h1 class="tm-site-description">大数据与智能认知实验室</h1>
				</div>
			</div>

		</div>

		<main>
			<header class="row tm-welcome-section">
				<select id="server-select">
					<option value="edge" selected="selected">边缘服务器</option>
					<option value="cloud">云服务器</option>
				</select>
				<h2 class="col-12 text-center tm-section-title">去雾工作展示</h2>
				<p class="col-12 text-left">
                    雾在摄影时，是一种显著降低图像质量、影响观者视觉体验的干扰因素，
                    虽然在特定情况下，雾是艺术摄影中的重点关注对象，
                    但对于用户日常的拍摄以及地理成像等多种图像应用领域而言，
                    我们更希望能够减少雾的影响。因雾而降低质量的图像
                </p>
			</header>

			<div class="row tm-gallery">
                <div class="tm-gallery-item"  style="margin: 0 auto; text-align: center; ">
                <!-- 去雾工作展示 -->
                    <img src="{{ url_for('video_feed') }}"  style="margin: 0 auto;">
                    <img src="{{ url_for('video_changed') }}"  style="margin: 0 auto;">
                </div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<button id="return-index-btn"><a href="/">>>Back to main page</a></button>
			<p>Copyright &copy; 2019.WLNO-B508 All rights reserved.</p>
		</footer>
	</div>

</body>
</html>