<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>B508</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/templatemo-style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/dropzone.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/font-awesome.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/styles.css') }}">

	<script src="{{ url_for('static', filename='javascripts/dropzone.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.spectrogram.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.regions.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.cursor.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/wavesurfer.timeline.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/jquery.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/RecordRTC.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/recorder.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/bootstrap.min.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/serversource.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/app.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/index.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/trivia.js')}}"></script>
	<script src="{{ url_for('static', filename='javascripts/voiceprint.js')}}"></script>
</head>

<body>

	<div class="container">
		<!-- Top box -->
		<!-- Logo & Site Name -->
		<div class="placeholder">
			<div class="col-md-6 col-12">
				<img src="static/img/logo.png" alt="Logo" class="tm-site-logo" />
				<div class="tm-site-text-box">
					<!--
						<h1 class="tm-site-title">武汉光电国家研究中心</h1>
					--> 
					<h1 class="tm-site-description">大数据与智能认知实验室</h1>
				</div>
			</div>

		</div>

		<main>
			<header class="row tm-welcome-section">
				<select id="server-select">
					<option value="edge" selected="selected">边缘服务器</option>
					<option value="cloud">云服务器</option>
				</select>
				<h2 class="col-12 text-center tm-section-title">Speaker Recognition System</h2>
				<p class="col-12 text-left">Speaker recognition system knows “who you are” as soon as it hears your speech voice. Of course, if your voice has not been enrolled, you will be considered as a stranger. In the future, we will develop systems that only understand specific person’s speech utterances via combining automatic speech recognition and speaker recognition.</p>
			</header>

			<!-- 第一排按钮 -->
			<div class="voiceprint-paging-links">
				<nav>
					<ul>
						<li class="voiceprint-paging-item"><a href="#" class="voiceprint-paging-link active">VoiceprintRecognition</a></li>
						<li class="voiceprint-paging-item"><a href="#" class="voiceprint-paging-link">PersonalizedSpeechRecognition</a></li>
						<li class="voiceprint-paging-item"><a href="#" class="voiceprint-paging-link">Enroll</a></li>
					</ul>
				</nav>
			</div>

			<div class="row tm-gallery">
				<!-- Distinguish Page -->
				<div id="voiceprintdetection-distinguish-page" class="tm-gallery-page vd-gallery-page">
					<div class="tm-paging-links" style="position: relative;margin:auto;">
						<ul style="font-size: x-small">
							<li class="tm-paging-item" style="max-width: 150px">
								<select id="mp3_name4" class="form-control">
									<option selected="selected">-Please select audio-</option>
									{% for mp3 in all_mp3_files4 %}
									<option value="{{mp3}}">{{mp3}}</option>
									{% endfor %}
								</select>
							</li>
							<li class="tm-paging-item" data-action="play"><a class="tm-paging-button" id="play-pause">Play/Pause</a>
							</li>
							<li class="tm-paging-item" data-action="stop"><a class="tm-paging-button">Stop</a>
							</li>
							<li class="tm-paging-item" data-action="start_reco"><a class="tm-paging-button">StartRecording</a>
							</li>
							<li class="tm-paging-item" data-action="ai_reco"><a class="tm-paging-button">StopRecording</a>
							</li>
							<li class="tm-paging-item">
								<form method="post" enctype=multipart/form-data id='vp-form1'>
									<input class="tm-paging-item" style="margin: 7.5px; max-width: 180px;" id="vp-file1"
										name="file" required type="file">
								</form>
							</li>
						</ul>
					</div>
					<br><br><br>
					<div id="demo" class="tm-gallery-item" style="margin: auto;">
						<div id="waveform4" class="tm-gallery-item" style="border: 1px solid #000;">
							<br />
							<div class="progress progress-striped active" id="progress-bar">
								<div class="progress-bar progress-bar-info"></div>
							</div>
						</div>
						<div id="wave-timeline4" class="wave-timeline" style="background-color: azure"></div>
						<p style="text-align: center;font-size: x-large; font-style: italic">waveform</p>
						<!-- Here be waveform -->
						<div id="wave-spectrogram4" class="tm-gallery-item" style="border: 1px solid #000;"></div>
						<p style="text-align: center;font-size: x-large; font-style: italic">spectrogram</p>
					</div>
					<br><br><br>
					<div id="presult4" class="tm-gallery-item presult" style="border: 1px solid #000;margin: auto;">
						<ul style="font-size: xx-large;margin: 20px 80px;">
							<!-- <li>
								<p>Current Time：</p>
								<p id="nowtime" class="blink"></p>
							</li> -->
							<li>
								<p>Speaker Name：</p>
								<p id="speaker-name" style="color: #dd4814;"></p>
							</li>
							<!-- <li>
								<p>Recognition Result:</p>
								<p id="decoderesult" style="color: #dd4814;"></p>
							</li> -->
						</ul>
					</div>
					<!-- <button id="distinguish-page-submit">Submit</button> -->
				</div>

				<!-- 个性化语音识别页面 -->
				<div id="voiceprintdetection-speechrecognition-page" class="tm-gallery-page vd-gallery-page hidden">
					<div class="tm-paging-links" style="position: relative;margin:auto;">
						<ul style="font-size: x-small">
							<li class="tm-paging-item" style="max-width: 150px">
								<select id="mp3_name5" class="form-control">
									<option selected="selected">-Please select audio-</option>
									{% for mp3 in all_mp3_files1 %}
									<option value="{{mp3}}">{{mp3}}</option>
									{% endfor %}
								</select>
							</li>
							<li class="tm-paging-item" data-action="play">
								<a class="tm-paging-button">Play/Pause</a>
							</li>
							<li class="tm-paging-item" data-action="stop">
								<a class="tm-paging-button">Stop</a>
							</li>
							<li class="tm-paging-item" data-action="start_reco">
								<a class="tm-paging-button">StartRecording</a>
							</li>
							<li class="tm-paging-item" data-action="ai_reco">
								<a class="tm-paging-button">StopRecording</a>
							</li>
							<li class="tm-paging-item">
								<form method="post" enctype=multipart/form-data id='vp-form2'>
									<input class="tm-paging-item" style="margin: 7.5px; max-width: 180px;" id="vp-file2"
										name="file" required type="file">
								</form>
							</li>
						</ul>
					</div>
					<br><br><br>
					<div id="demo" class="tm-gallery-item" style="margin: auto;">
						<div id="waveform5" class="tm-gallery-item" style="border: 1px solid #000;">
							<br />
							<div class="progress progress-striped active" id="progress-bar">
								<div class="progress-bar progress-bar-info"></div>
							</div>
						</div>
						<div id="wave-timeline5" class="wave-timeline" style="background-color: azure"></div>
						<p style="text-align: center;font-size: x-large; font-style: italic">waveform</p>
						<!-- Here be waveform -->
						<div id="wave-spectrogram5" class="tm-gallery-item" style="border: 1px solid #000;"></div>
						<p style="text-align: center;font-size: x-large; font-style: italic">spectrogram</p>
					</div>
					<br><br><br>
					<div id="presult5" class="tm-gallery-item presult" style="border: 1px solid #000;margin: auto;">
						<ul style="font-size: xx-large;margin: 20px 80px;">
							<!-- <li>
								<p>Current Time：</p>
								<p id="nowtime" class="blink"></p>
							</li> -->
							<li>
								<p>Message：</p>
								<p id="message"> </p> <br><br><br>
								<p>Speaker Name：</p>
								<p id="speaker-name" style="color: #dd4814;"></p><br><br><br>
								<p>Speech Recognition </p>
								<p id="speaker-recognition" style="color: #dd4814;"></p><br><br><br>
							</li>
							<!-- <li>
								<p>Recognition Result:</p>
								<p id="decoderesult" style="color: #dd4814;"></p>
							</li> -->
						</ul>
					</div>
					<!-- <button id="speechrecognition-page-submit">Submit</button> -->
				</div>

				<!-- 注册页面 -->
				<div id="voiceprintdetection-register-page" class="tm-gallery-page vd-gallery-page hidden">
					<div class="tm-paging-links" style="position: relative;margin:auto;">
						<form class="" id="register-form">
							<label>Name</label>
							<input type="text" id="voice-name"> <br> <br>
							<label>Sound Information(Please record or select an audio file)</label> <br>
							<li class="tm-paging-item" id="register-recording-start">
								<a class="tm-paging-button">StartRecording</a>
							</li>
							<li class="tm-paging-item" id="register-recording-end">
								<a class="tm-paging-button">StopRecording</a>
							</li>
							<li class="tm-paging-item">
								<input class="tm-paging-item" style="margin: 7.5px; max-width: 180px;" id="vp-file" type="file">
							</li> <br>
							<button id="register-submit">Enroll</button>
						</form>
					</div>
				</div>
			</div>
		</main>

		<footer class="tm-footer text-center">
			<button id="return-index-btn"><a href="/">>>Back to main page</a></button>
			<p>Copyright &copy; 2019.WLNO-B508 All rights reserved.</p>
		</footer>
	</div>

	<div id="vp-dialog" class="">
		<header>
			<button id="vp-dialog-quit">X</button>
		</header>
		<div id="register-info">
			<p>User not registered!</p>
		</div>
		<footer>
			<a href="#" id="vp-register">Register</a>
		</footer>
	</div>
	<div id="mask" class=""></div>

</body>

</html>